USE [BuyRentHomeDb]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VisitingRequests', @level2type=N'COLUMN',@level2name=N'Status'
GO
ALTER TABLE [dbo].[VisitingRequests] DROP CONSTRAINT [FK_VisitingRequests_Users]
GO
ALTER TABLE [dbo].[VisitingRequests] DROP CONSTRAINT [FK_VisitingRequests_Properties]
GO
ALTER TABLE [dbo].[UserPrivileges] DROP CONSTRAINT [FK_UserPrivileges_Users_UserId]
GO
ALTER TABLE [dbo].[UserPrivileges] DROP CONSTRAINT [FK_UserPrivileges_Roles_RoleId]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [FK_Roles_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [FK_Roles_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Properties] DROP CONSTRAINT [FK_Properties_Users_PostedBy]
GO
ALTER TABLE [dbo].[Properties] DROP CONSTRAINT [FK_Properties_PropertyTypes_PropertyTypeId]
GO
ALTER TABLE [dbo].[Properties] DROP CONSTRAINT [FK_Properties_FurnishingTypes_FurnishingTypeId]
GO
ALTER TABLE [dbo].[Properties] DROP CONSTRAINT [FK_Properties_Countries_CountryId]
GO
ALTER TABLE [dbo].[Properties] DROP CONSTRAINT [FK_Properties_Cities_CityId]
GO
ALTER TABLE [dbo].[Photos] DROP CONSTRAINT [FK_Photos_Users_LastUpdatedBy]
GO
ALTER TABLE [dbo].[Photos] DROP CONSTRAINT [FK_Photos_Properties_PropertyId]
GO
ALTER TABLE [dbo].[Countries] DROP CONSTRAINT [FK_Countries_Users]
GO
ALTER TABLE [dbo].[CitiesAreaManagers] DROP CONSTRAINT [FK_CitiesAreaManagersManagerId_UsersId]
GO
ALTER TABLE [dbo].[CitiesAreaManagers] DROP CONSTRAINT [FK_CitiesAreaManagersLastUpdatedBy_UsersId]
GO
ALTER TABLE [dbo].[CitiesAreaManagers] DROP CONSTRAINT [FK_CitiesAreaManagersCityId_CitiesId]
GO
ALTER TABLE [dbo].[Cities] DROP CONSTRAINT [FK_Cities_Countries_CountryId]
GO
ALTER TABLE [dbo].[ChatMessages] DROP CONSTRAINT [FK_ChatMessages_SenderId_Users_Id]
GO
ALTER TABLE [dbo].[ChatMessages] DROP CONSTRAINT [FK_ChatMessages_ReceiverId_Users_Id]
GO
ALTER TABLE [dbo].[VisitingRequests] DROP CONSTRAINT [DF_VisitingRequests_IsActive]
GO
ALTER TABLE [dbo].[VisitingRequests] DROP CONSTRAINT [DF_VisitingRequests_IsBlocked]
GO
ALTER TABLE [dbo].[VisitingRequests] DROP CONSTRAINT [DEFAULT_VisitingRequests_Status]
GO
ALTER TABLE [dbo].[Countries] DROP CONSTRAINT [DF__Countries__LastU__2F10007B]
GO
ALTER TABLE [dbo].[CitiesAreaManagers] DROP CONSTRAINT [DF_CitiesAreaManagers_LastUpdatedOn]
GO
ALTER TABLE [dbo].[Cities] DROP CONSTRAINT [DF__Cities__LastUpda__37A5467C]
GO
ALTER TABLE [dbo].[Cities] DROP CONSTRAINT [DF__Cities__LastUpda__36B12243]
GO
/****** Object:  Index [UK_Users_Username]    Script Date: 5/23/2024 10:18:37 PM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UK_Users_Username]
GO
/****** Object:  Index [IX_UserPrivileges_UserId]    Script Date: 5/23/2024 10:18:37 PM ******/
DROP INDEX [IX_UserPrivileges_UserId] ON [dbo].[UserPrivileges]
GO
/****** Object:  Index [IX_UserPrivileges_RoleId]    Script Date: 5/23/2024 10:18:37 PM ******/
DROP INDEX [IX_UserPrivileges_RoleId] ON [dbo].[UserPrivileges]
GO
/****** Object:  Index [IX_Roles_UpdatedBy]    Script Date: 5/23/2024 10:18:37 PM ******/
DROP INDEX [IX_Roles_UpdatedBy] ON [dbo].[Roles]
GO
/****** Object:  Index [IX_Roles_CreatedBy]    Script Date: 5/23/2024 10:18:37 PM ******/
DROP INDEX [IX_Roles_CreatedBy] ON [dbo].[Roles]
GO
/****** Object:  Index [IX_Properties_PropertyTypeId]    Script Date: 5/23/2024 10:18:37 PM ******/
DROP INDEX [IX_Properties_PropertyTypeId] ON [dbo].[Properties]
GO
/****** Object:  Index [IX_Properties_PostedBy]    Script Date: 5/23/2024 10:18:37 PM ******/
DROP INDEX [IX_Properties_PostedBy] ON [dbo].[Properties]
GO
/****** Object:  Index [IX_Properties_FurnishingTypeId]    Script Date: 5/23/2024 10:18:37 PM ******/
DROP INDEX [IX_Properties_FurnishingTypeId] ON [dbo].[Properties]
GO
/****** Object:  Index [IX_Properties_CountryId]    Script Date: 5/23/2024 10:18:37 PM ******/
DROP INDEX [IX_Properties_CountryId] ON [dbo].[Properties]
GO
/****** Object:  Index [IX_Properties_CityId]    Script Date: 5/23/2024 10:18:37 PM ******/
DROP INDEX [IX_Properties_CityId] ON [dbo].[Properties]
GO
/****** Object:  Index [IX_Photos_PropertyId]    Script Date: 5/23/2024 10:18:37 PM ******/
DROP INDEX [IX_Photos_PropertyId] ON [dbo].[Photos]
GO
/****** Object:  Index [IX_Photos_LastUpdatedBy]    Script Date: 5/23/2024 10:18:37 PM ******/
DROP INDEX [IX_Photos_LastUpdatedBy] ON [dbo].[Photos]
GO
/****** Object:  Index [IX_Countries_LastUpdatedBy]    Script Date: 5/23/2024 10:18:37 PM ******/
DROP INDEX [IX_Countries_LastUpdatedBy] ON [dbo].[Countries]
GO
/****** Object:  Index [IX_Cities_CountryId]    Script Date: 5/23/2024 10:18:37 PM ******/
DROP INDEX [IX_Cities_CountryId] ON [dbo].[Cities]
GO
/****** Object:  Table [dbo].[VisitingRequests]    Script Date: 5/23/2024 10:18:37 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VisitingRequests]') AND type in (N'U'))
DROP TABLE [dbo].[VisitingRequests]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/23/2024 10:18:37 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserPrivileges]    Script Date: 5/23/2024 10:18:37 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserPrivileges]') AND type in (N'U'))
DROP TABLE [dbo].[UserPrivileges]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/23/2024 10:18:37 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[PropertyTypes]    Script Date: 5/23/2024 10:18:37 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PropertyTypes]') AND type in (N'U'))
DROP TABLE [dbo].[PropertyTypes]
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 5/23/2024 10:18:37 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Properties]') AND type in (N'U'))
DROP TABLE [dbo].[Properties]
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 5/23/2024 10:18:37 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Photos]') AND type in (N'U'))
DROP TABLE [dbo].[Photos]
GO
/****** Object:  Table [dbo].[FurnishingTypes]    Script Date: 5/23/2024 10:18:37 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FurnishingTypes]') AND type in (N'U'))
DROP TABLE [dbo].[FurnishingTypes]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 5/23/2024 10:18:37 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Countries]') AND type in (N'U'))
DROP TABLE [dbo].[Countries]
GO
/****** Object:  Table [dbo].[CitiesAreaManagers]    Script Date: 5/23/2024 10:18:37 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CitiesAreaManagers]') AND type in (N'U'))
DROP TABLE [dbo].[CitiesAreaManagers]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 5/23/2024 10:18:37 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cities]') AND type in (N'U'))
DROP TABLE [dbo].[Cities]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 5/23/2024 10:18:37 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChatMessages]') AND type in (N'U'))
DROP TABLE [dbo].[ChatMessages]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/23/2024 10:18:37 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
USE [master]
GO
/****** Object:  Database [BuyRentHomeDb]    Script Date: 5/23/2024 10:18:37 PM ******/
DROP DATABASE [BuyRentHomeDb]
GO
/****** Object:  Database [BuyRentHomeDb]    Script Date: 5/23/2024 10:18:37 PM ******/
CREATE DATABASE [BuyRentHomeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BuyRentHomeDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BuyRentHomeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BuyRentHomeDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BuyRentHomeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BuyRentHomeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BuyRentHomeDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/23/2024 10:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 5/23/2024 10:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [int] NOT NULL,
	[ReceiverId] [int] NOT NULL,
	[Message] [varchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChatMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 5/23/2024 10:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[AreaInKM] [float] NULL,
	[CountryId] [int] NOT NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitiesAreaManagers]    Script Date: 5/23/2024 10:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitiesAreaManagers](
	[Id] [int] NOT NULL,
	[ManagerId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[LastUpdatedBy] [int] NOT NULL,
	[LastUpdatedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_CitiesAreaManagers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 5/23/2024 10:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FurnishingTypes]    Script Date: 5/23/2024 10:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FurnishingTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[LastUpdatedOn] [datetime2](7) NOT NULL,
	[LastUpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_FurnishingTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 5/23/2024 10:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[PropertyId] [int] NOT NULL,
	[LastUpdatedOn] [datetime2](7) NOT NULL,
	[LastUpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_Photos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 5/23/2024 10:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SellRent] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[PropertyTypeId] [int] NOT NULL,
	[FurnishingTypeId] [int] NOT NULL,
	[Bedroom] [int] NOT NULL,
	[Bathroom] [int] NULL,
	[CommonSpace] [int] NULL,
	[CountryId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[StreetAddress] [nvarchar](max) NOT NULL,
	[TotalFloor] [int] NOT NULL,
	[Floor] [int] NOT NULL,
	[Area] [int] NOT NULL,
	[RentPrice] [int] NOT NULL,
	[OtherCost] [int] NULL,
	[Gym] [bit] NOT NULL,
	[Parking] [bit] NOT NULL,
	[SwimmingPool] [bit] NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Description] [nvarchar](max) NULL,
	[AvailableDays] [varchar](60) NOT NULL,
	[AvailableStartTime] [time](7) NOT NULL,
	[AvailableEndTime] [time](7) NOT NULL,
	[PostedOn] [datetime2](7) NOT NULL,
	[PostedBy] [int] NOT NULL,
	[LastUpdatedOn] [datetime2](7) NOT NULL,
	[LastUpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_Properties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyTypes]    Script Date: 5/23/2024 10:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[LastUpdatedOn] [datetime2](7) NOT NULL,
	[LastUpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_PropertyTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/23/2024 10:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPrivileges]    Script Date: 5/23/2024 10:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPrivileges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserPrivileges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/23/2024 10:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
	[Password] [varbinary](max) NOT NULL,
	[PasswordKey] [varbinary](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Mobile] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitingRequests]    Script Date: 5/23/2024 10:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitingRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[TakenBy] [int] NOT NULL,
	[DateOn] [date] NOT NULL,
	[StartTIme] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[ContactNumber] [varchar](15) NOT NULL,
	[Status] [char](1) NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Notes] [varchar](255) NULL,
 CONSTRAINT [PK_VisitingRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230508150121_UpdatedRoleBasedSystem', N'7.0.5')
GO
INSERT [dbo].[Cities] ([Id], [Name], [Latitude], [Longitude], [AreaInKM], [CountryId], [LastUpdatedBy], [LastUpdatedOn]) VALUES (2, N'Dhaka', 23.811056, 90.407608, NULL, 3, 0, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Cities] ([Id], [Name], [Latitude], [Longitude], [AreaInKM], [CountryId], [LastUpdatedBy], [LastUpdatedOn]) VALUES (3, N'Chittagong', 22.3419, 91.815536, NULL, 3, 0, CAST(N'2022-09-19T22:36:15.5300000' AS DateTime2))
INSERT [dbo].[Cities] ([Id], [Name], [Latitude], [Longitude], [AreaInKM], [CountryId], [LastUpdatedBy], [LastUpdatedOn]) VALUES (4, N'Rajshahi', 24.36164, 88.627054, NULL, 3, 0, CAST(N'2022-09-19T22:36:44.9400000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [Name], [LastUpdatedBy], [LastUpdatedOn]) VALUES (3, N'Bangladesh', 3, NULL)
INSERT [dbo].[Countries] ([Id], [Name], [LastUpdatedBy], [LastUpdatedOn]) VALUES (4, N'USA', 3, NULL)
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[FurnishingTypes] ON 

INSERT [dbo].[FurnishingTypes] ([Id], [Name], [LastUpdatedOn], [LastUpdatedBy]) VALUES (1, N'Fully', CAST(N'2022-08-08T09:24:46.8760000' AS DateTime2), 0)
INSERT [dbo].[FurnishingTypes] ([Id], [Name], [LastUpdatedOn], [LastUpdatedBy]) VALUES (2, N'Semi', CAST(N'2022-08-08T09:24:46.8800000' AS DateTime2), 0)
INSERT [dbo].[FurnishingTypes] ([Id], [Name], [LastUpdatedOn], [LastUpdatedBy]) VALUES (3, N'Unfurnished', CAST(N'2022-08-08T09:24:46.8830000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[FurnishingTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Photos] ON 

INSERT [dbo].[Photos] ([Id], [ImageUrl], [IsPrimary], [PropertyId], [LastUpdatedOn], [LastUpdatedBy]) VALUES (1, N'638191566812129944.jfif', 1, 1, CAST(N'2023-05-08T15:31:21.2551355' AS DateTime2), 3)
INSERT [dbo].[Photos] ([Id], [ImageUrl], [IsPrimary], [PropertyId], [LastUpdatedOn], [LastUpdatedBy]) VALUES (2, N'638191566812287868.jpeg', 0, 1, CAST(N'2023-05-08T15:31:21.2558055' AS DateTime2), 3)
INSERT [dbo].[Photos] ([Id], [ImageUrl], [IsPrimary], [PropertyId], [LastUpdatedOn], [LastUpdatedBy]) VALUES (3, N'638260626703553463.jpg', 1, 2, CAST(N'2023-07-27T13:51:10.3933899' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[Photos] OFF
GO
SET IDENTITY_INSERT [dbo].[Properties] ON 

SET IDENTITY_INSERT [dbo].[Properties] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyTypes] ON 

INSERT [dbo].[PropertyTypes] ([Id], [Name], [LastUpdatedOn], [LastUpdatedBy]) VALUES (1, N'House', CAST(N'2022-08-08T09:24:46.8660000' AS DateTime2), 0)
INSERT [dbo].[PropertyTypes] ([Id], [Name], [LastUpdatedOn], [LastUpdatedBy]) VALUES (2, N'Apartment', CAST(N'2022-08-08T09:24:46.8730000' AS DateTime2), 0)
INSERT [dbo].[PropertyTypes] ([Id], [Name], [LastUpdatedOn], [LastUpdatedBy]) VALUES (3, N'Duplex', CAST(N'2022-08-08T09:24:46.8760000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[PropertyTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [IsLocked], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (5, N'Admin', 1, N'Admin of Whole System', 1, CAST(N'2022-09-19T22:36:15.530' AS DateTime), 1, CAST(N'2022-09-19T22:36:15.530' AS DateTime))
INSERT [dbo].[Roles] ([Id], [Name], [IsLocked], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (8, N'Area Manager', 1, N'Manages Some areas', 1, CAST(N'2022-09-19T22:36:15.530' AS DateTime), 1, CAST(N'2022-09-19T22:36:15.530' AS DateTime))
INSERT [dbo].[Roles] ([Id], [Name], [IsLocked], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (10, N'User', 1, N'General Users', 1, CAST(N'2022-09-19T22:36:15.530' AS DateTime), 1, CAST(N'2022-09-19T22:36:15.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPrivileges] ON 

INSERT [dbo].[UserPrivileges] ([Id], [UserId], [RoleId]) VALUES (1, 3, 5)
INSERT [dbo].[UserPrivileges] ([Id], [UserId], [RoleId]) VALUES (2, 1, 10)
INSERT [dbo].[UserPrivileges] ([Id], [UserId], [RoleId]) VALUES (3, 2, 10)
SET IDENTITY_INSERT [dbo].[UserPrivileges] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [PasswordKey], [Name], [Email], [Mobile]) VALUES (1, N'John', 0x22BD665D9B02975B3F0C617BE6E2B7ABF9079904735A8F7E7F975BCC7F9313AFEBEA6EDAC06E4E5373E9D8510CC7A2CCAD6B811BFFD43BF68CAC338C61568424, 0x277E6169D7D1AF06CFE32B4F8D134CE3DA3DA411954D36900A0D4EB61090622012779E2AB85B452CF9F92497707A2819AE9C4766849A6D612A81A7C596A5E46B1AEDDCF1AEA52122F2248918687720055A4F33CB4A67C9B40D6FBFE9E8124CB510FB1BEAAAB73F4B3DF0C2904A97172C25C3BB03F41519C50FE01C78C884E066, N'John', N'abc@test.com', N'0123455')
INSERT [dbo].[Users] ([Id], [Username], [Password], [PasswordKey], [Name], [Email], [Mobile]) VALUES (2, N'Bob', 0xA0F74F2473B9EFEB4E3D896EF952DE966F1EB371F28E924759F0EC89E1F0E074F313962A712DB05517B757A4F60C08F2A97FBD7F1D0D0DB9F8250EDB9D25917F, 0x8A413F825F469B7FAB4E064EB24B7CDA27D6712856898B654EB8DCB2579C087D1836BB80C6354BB29CB36320E049D4D29180699D35CC468F7643F6CB85CCE5FF2514B010BB66A0FCC947E0AA945249BA3197CBBA2B12DDFC6C0C92576666F8BD5E4F2D5A9C333D7C489B389E8D1946DE6A69911CFDD93959967EF02B54681240, N'Bob', N'abc@test.com', N'0123455')
INSERT [dbo].[Users] ([Id], [Username], [Password], [PasswordKey], [Name], [Email], [Mobile]) VALUES (3, N'Admin', 0x02E64CF1E1A98D1CE3324A7C9C547E91B7F7EA8A2A9519BFE7FF36F70F49236180BC5867A8FD6E052BF69535E2392AEB67EDC004B908CAE82634E0A14727E709, 0x35637FBA591280EFECA1224DCA364D880C326A2D71C3B9A78115E87EB1C164857E1DEFC74E25E179D0947670E96CAF6FD8D0303F5646DD548745AF792439A1D4CB3327591309AF490E165BE371FAB079D8CF80F176B8D27FAEC4539CE74299F2C622B2D0D6A0193A7961EFF18E1171C732D14379E88CA8C23DA0B73EF27D94E9, N'Admin', N'abc@test.com', N'0123455')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VisitingRequests] ON 

INSERT [dbo].[VisitingRequests] ([Id], [PropertyId], [TakenBy], [DateOn], [StartTIme], [EndTime], [ContactNumber], [Status], [IsBlocked], [IsActive], [Notes]) VALUES (1, 3, 8, CAST(N'2024-02-17' AS Date), CAST(N'2024-02-17T10:00:00.000' AS DateTime), CAST(N'2024-02-17T10:30:00.000' AS DateTime), N'12345678', N'N', 0, 0, N'Not good')
INSERT [dbo].[VisitingRequests] ([Id], [PropertyId], [TakenBy], [DateOn], [StartTIme], [EndTime], [ContactNumber], [Status], [IsBlocked], [IsActive], [Notes]) VALUES (2, 3, 9, CAST(N'2024-02-17' AS Date), CAST(N'2024-02-17T10:00:00.000' AS DateTime), CAST(N'2024-02-17T10:30:00.000' AS DateTime), N'3434', N'N', 0, 0, N'Test')
INSERT [dbo].[VisitingRequests] ([Id], [PropertyId], [TakenBy], [DateOn], [StartTIme], [EndTime], [ContactNumber], [Status], [IsBlocked], [IsActive], [Notes]) VALUES (3, 5, 9, CAST(N'2024-05-22' AS Date), CAST(N'2024-05-22T14:00:00.000' AS DateTime), CAST(N'2024-05-22T14:30:00.000' AS DateTime), N'12334', N'A', 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[VisitingRequests] OFF
GO
/****** Object:  Index [IX_Cities_CountryId]    Script Date: 5/23/2024 10:18:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Cities_CountryId] ON [dbo].[Cities]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Countries_LastUpdatedBy]    Script Date: 5/23/2024 10:18:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Countries_LastUpdatedBy] ON [dbo].[Countries]
(
	[LastUpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Photos_LastUpdatedBy]    Script Date: 5/23/2024 10:18:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Photos_LastUpdatedBy] ON [dbo].[Photos]
(
	[LastUpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Photos_PropertyId]    Script Date: 5/23/2024 10:18:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Photos_PropertyId] ON [dbo].[Photos]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Properties_CityId]    Script Date: 5/23/2024 10:18:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Properties_CityId] ON [dbo].[Properties]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Properties_CountryId]    Script Date: 5/23/2024 10:18:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Properties_CountryId] ON [dbo].[Properties]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Properties_FurnishingTypeId]    Script Date: 5/23/2024 10:18:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Properties_FurnishingTypeId] ON [dbo].[Properties]
(
	[FurnishingTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Properties_PostedBy]    Script Date: 5/23/2024 10:18:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Properties_PostedBy] ON [dbo].[Properties]
(
	[PostedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Properties_PropertyTypeId]    Script Date: 5/23/2024 10:18:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Properties_PropertyTypeId] ON [dbo].[Properties]
(
	[PropertyTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Roles_CreatedBy]    Script Date: 5/23/2024 10:18:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Roles_CreatedBy] ON [dbo].[Roles]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Roles_UpdatedBy]    Script Date: 5/23/2024 10:18:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Roles_UpdatedBy] ON [dbo].[Roles]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPrivileges_RoleId]    Script Date: 5/23/2024 10:18:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserPrivileges_RoleId] ON [dbo].[UserPrivileges]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPrivileges_UserId]    Script Date: 5/23/2024 10:18:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserPrivileges_UserId] ON [dbo].[UserPrivileges]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Users_Username]    Script Date: 5/23/2024 10:18:38 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UK_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cities] ADD  CONSTRAINT [DF__Cities__LastUpda__36B12243]  DEFAULT ((0)) FOR [LastUpdatedBy]
GO
ALTER TABLE [dbo].[Cities] ADD  CONSTRAINT [DF__Cities__LastUpda__37A5467C]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [dbo].[CitiesAreaManagers] ADD  CONSTRAINT [DF_CitiesAreaManagers_LastUpdatedOn]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [dbo].[VisitingRequests] ADD  CONSTRAINT [DEFAULT_VisitingRequests_Status]  DEFAULT ('N') FOR [Status]
GO
ALTER TABLE [dbo].[VisitingRequests] ADD  CONSTRAINT [DF_VisitingRequests_IsBlocked]  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[VisitingRequests] ADD  CONSTRAINT [DF_VisitingRequests_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_ReceiverId_Users_Id] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_ReceiverId_Users_Id]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_SenderId_Users_Id] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_SenderId_Users_Id]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries_CountryId]
GO
ALTER TABLE [dbo].[CitiesAreaManagers]  WITH CHECK ADD  CONSTRAINT [FK_CitiesAreaManagersCityId_CitiesId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[CitiesAreaManagers] CHECK CONSTRAINT [FK_CitiesAreaManagersCityId_CitiesId]
GO
ALTER TABLE [dbo].[CitiesAreaManagers]  WITH CHECK ADD  CONSTRAINT [FK_CitiesAreaManagersLastUpdatedBy_UsersId] FOREIGN KEY([LastUpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CitiesAreaManagers] CHECK CONSTRAINT [FK_CitiesAreaManagersLastUpdatedBy_UsersId]
GO
ALTER TABLE [dbo].[CitiesAreaManagers]  WITH CHECK ADD  CONSTRAINT [FK_CitiesAreaManagersManagerId_UsersId] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CitiesAreaManagers] CHECK CONSTRAINT [FK_CitiesAreaManagersManagerId_UsersId]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Users] FOREIGN KEY([LastUpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_Countries_Users]
GO
ALTER TABLE [dbo].[Photos]  WITH CHECK ADD  CONSTRAINT [FK_Photos_Properties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Photos] CHECK CONSTRAINT [FK_Photos_Properties_PropertyId]
GO
ALTER TABLE [dbo].[Photos]  WITH CHECK ADD  CONSTRAINT [FK_Photos_Users_LastUpdatedBy] FOREIGN KEY([LastUpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Photos] CHECK CONSTRAINT [FK_Photos_Users_LastUpdatedBy]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_Cities_CityId]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_Countries_CountryId]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_FurnishingTypes_FurnishingTypeId] FOREIGN KEY([FurnishingTypeId])
REFERENCES [dbo].[FurnishingTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_FurnishingTypes_FurnishingTypeId]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_PropertyTypes_PropertyTypeId] FOREIGN KEY([PropertyTypeId])
REFERENCES [dbo].[PropertyTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_PropertyTypes_PropertyTypeId]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_Users_PostedBy] FOREIGN KEY([PostedBy])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_Users_PostedBy]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Roles_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Roles_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[UserPrivileges]  WITH CHECK ADD  CONSTRAINT [FK_UserPrivileges_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserPrivileges] CHECK CONSTRAINT [FK_UserPrivileges_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserPrivileges]  WITH CHECK ADD  CONSTRAINT [FK_UserPrivileges_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserPrivileges] CHECK CONSTRAINT [FK_UserPrivileges_Users_UserId]
GO
ALTER TABLE [dbo].[VisitingRequests]  WITH CHECK ADD  CONSTRAINT [FK_VisitingRequests_Properties] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([Id])
GO
ALTER TABLE [dbo].[VisitingRequests] CHECK CONSTRAINT [FK_VisitingRequests_Properties]
GO
ALTER TABLE [dbo].[VisitingRequests]  WITH CHECK ADD  CONSTRAINT [FK_VisitingRequests_Users] FOREIGN KEY([TakenBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VisitingRequests] CHECK CONSTRAINT [FK_VisitingRequests_Users]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'P: Pending; A: Approved; N: Not Approved' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VisitingRequests', @level2type=N'COLUMN',@level2name=N'Status'
GO
USE [master]
GO
